body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  font-size: 1.4rem;
}

.container {
  height: 630px;
  width: 420px;
  background-color: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  height: 100px;
  width: 400px;
  font-size: 3rem;
  color: white;
  text-align: center;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
  gap: 5px;
  border-radius: 30px;
}

.zero {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}
.enter {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}
